/* Universal styles */

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1;
  color: DimGray;
  margin: 0;

}


.center {
  text-align: center;
}



.container, .flex {
  display: flex;


}

.image-container {
  display: flex;
  align-items: center;
}


a {
  text-decoration: none;
}


a:active {
  color:darkred;
}

.title {
  font-size: 2rem;
  color: black;
  padding-bottom: 16px;
}

.gray {
  background-color: gainsboro;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 768px) {

    nav.desktop {
      display: none;
    }

    nav.mobile {
      display: block;
    }
}

/* Header */




header {

  width: 100%;
  height: 64px;
  margin: 0;
  position: fixed;
  z-index: 10;
  background-color: white;
  border-bottom: 1px solid darkgrey;

}


header .content {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

header .logo {
  flex: 1;

}

header img {
    height: 3rem;
    vertical-align: middle;
    padding-left: 24px;
}


header #colmar {
  color:black;
  font-weight: bolder;
}

header #academy {
  color:darkgray;
  font-weight: 400;
}


header nav ul {
  display: flex;
}

nav.mobile {
  display: none;
}


nav li {
  padding-right: 16px;
  color: inherit;

}

@media only screen and (max-width: 768px) {

  .logo span {
    display: none;
  }

  .header img {
    height: auto;
  }

  nav.desktop {
    display: none;
  }

  nav.mobile {
    display: block;
  }

}




/* Content Section */

.main-content {
  position: relative;
  top: 64px;
}

  /* Main Banner */

.banner {


}

.banner-image {
  margin: 32px 24px;
  flex: 2 3 60%;

}

.banner-image img {
  overflow: hidden;
  width: 100%;
}

.banner-text {
  flex-flow: column wrap;
  flex: 3 2 423px;
  padding: 32px 16px;
  margin-right: 80px;
  justify-content: center;
}

.banner-text h1 {
  line-height: 2.5rem
}


.banner-text h3 {
  line-height: 2.5rem


}

.button {
  justify-content: center;
  text-align: center;
  background-color: DimGray;
  padding: 1rem 0;
  font-size: 1.25rem;
}

.button:hover {
  background-color: darkred;
}

.button a {
  color: white;

}



  /* Information block */

.information {

}

.information-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 32px 24px;
  flex: 2 2 60%;
  width: 60%;
  overflow: hidden;
  align-content: flex-start;
}

.information-main img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.information-main h2 {
  font-size: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.information-items {
  display: flex;
  min-width: 423px;

  padding: 32px 16px;
  flex-direction: column;
}

.info-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid gainsboro;
}

.info-block .image-container {
  width: 35%;
  padding: 16px;
}

.info-block img {
  width: 100%;
  height: 100%;
}

.info-block .content {
  padding: 0.5rem;


}

  /* Learning block */

.learning {
  flex-flow: column;
  padding:2rem;
  align-items: center;
}



.courses-block {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px;
  max-width: 1024px;

}


.course {
  background-color: white;
  margin: 1rem;
  width: 19rem;
}

.course .image-container {
  display: flex;
  padding: 0;
}

.course img {
  max-width: 100%;
}


.course .content {
  display: flex;
  flex-flow: column;
  text-align: left;
  padding: 16px 16px 24px 16px;


}


  /* Testimonial block */

.thesis {
  flex-flow: column;
  padding-bottom: 2rem;
}

.samples {
  flex-flow: row;
}

.samples-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 32px 24px;
  flex: 2 2 60%;
  width: 60%;
  overflow: hidden;
  align-content: flex-start;
}

.video-container {

}

.video-container video {
  width: 100%;
}


.samples-items {
  display: flex;
  min-width: 423px;
  padding: 32px 16px;
  flex-direction: column;
}


    /* Le Footer */

footer {
  justify-content: space-between;
  padding: 0.5rem 1rem 2rem 1rem;
  border-top: 1px solid darkgrey;
  align-items: center;
}
